@keyframes toastIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes toastOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.animate-toastIn {
  animation: toastIn 0.4s ease-out forwards;
}

.animate-toastOut {
  animation: toastOut 0.4s ease-in forwards;
}
