<div class="background">
  <img
    src="/assets/images/rayoAzulLogin.svg"
    class="background-image"
    alt="Voltix Logo"
  />
  <section class="header-section">
    <button class="custom-button" routerLink="/inicio">
      <img src="/assets/icons/backButton.svg" class="button-icon" alt="Back" />
    </button>
  </section>

  <section class="title-section max-w-sm mx-auto">
    <img src="/assets/images/VoltixLoginBlanco.svg" alt="Logo" class="logo" />
    <h1 class="greet">¡Hola! Regístrate</h1>
  </section>

  <section class="form-section">
    <form
      class="form-container"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="my-1">
        <h1 class="title-form">Registro</h1>
      </div>

      <div class="mb-4">
        <label
          for="fullname"
          class="block mb-2 text-sm text-gray-900 dark:text-white"
          >Nombre y Apellido</label
        >
        <input
          type="text"
          id="fullname"
          formControlName="fullname"
          (input)="isAllInputsValid()"
          class="input-field"
          placeholder="Juan Ríos"
          required
        />
        <p
          *ngIf="
            registerForm.get('fullname')?.hasError('invalidFullName') &&
            registerForm.get('fullname')?.touched
          "
          class="mt-2 text-sm text-red-600 dark:text-red-500"
        >
          Nombre y apellido no válido.
        </p>
      </div>

      <div class="mb-4">
        <label
          for="email"
          class="block mb-2 text-sm text-gray-900 dark:text-white"
          >Email</label
        >
        <input
          type="email"
          id="email"
          formControlName="email"
          (input)="isAllInputsValid()"
          class="input-field"
          placeholder="ejemplo@email.com"
          required
        />
        <p
          *ngIf="!isEmailValid() && registerForm.get('email')?.touched"
          class="mt-2 text-sm text-red-600 dark:text-red-500"
        >
          ¡Error! El email no es válido.
        </p>
      </div>

      <div class="mb-4">
        <label
          for="dni"
          class="block mb-2 text-sm text-gray-900 dark:text-white"
          >Usuario</label
        >
        <input
          type="text"
          id="dni"
          formControlName="dni"
          (input)="isAllInputsValid()"
          class="input-field"
          placeholder="DNI/NIF/CIF"
          required
        />
      </div>

      <div class="mb-4">
        <label
          for="password"
          class="block mb-2 text-sm text-gray-900 dark:text-white"
          >Contraseña</label
        >
        <div class="relative">
          <input
            type="password"
            id="password"
            formControlName="password"
            (focus)="togglePasswordRequirements(true)"
            (blur)="togglePasswordRequirements(false)"
            (input)="onPasswordInput()"
            class="input-field with-icon"
            placeholder="Ingresar contraseña"
            required
          />
          <button
            type="button"
            (click)="togglePasswordVisibility()"
            class="absolute inset-y-0 right-3 flex items-center"
          >
            <img
              [src]="
                isPasswordVisible
                  ? '/assets/icons/eye-alt.svg'
                  : '/assets/icons/eye-slash.svg'
              "
              alt="Toggle Password Visibility"
              class="icon-eye"
            />
          </button>
        </div>
        <p
          *ngIf="errorPassword"
          class="mt-2 text-sm text-red-600 dark:text-red-500"
        >
          <span>{{ errorPassword }}</span>
        </p>

        <!-- Requisitos de la contraseña -->
        <div class="flex flex-col mt-2 text-xs text-gray-600 dark:text-gray-400" *ngIf="showPasswordRequirements">
          <span>
            <i [ngClass]="isPasswordValid() ? 'fa-regular fa-circle-check text-green-500' : 'fa-regular fa-circle-xmark text-red-500'"></i>
            Mínimo 8 caracteres y máximo 15 caracteres.
          </span>
          <span>
            <i [ngClass]="hasUpperCaseAndLowerCase ? 'fa-regular fa-circle-check text-green-500' : 'fa-regular fa-circle-xmark text-red-500'"></i>
            Al menos 1 mayúscula y 1 minúscula.
          </span>
          <span>
            <i [ngClass]="hasSpecialChar ? 'fa-regular fa-circle-check text-green-500' : 'fa-regular fa-circle-xmark text-red-500'"></i>
            Al menos 1 carácter especial.
          </span>
          <span>
            <i [ngClass]="hasNumber ? 'fa-regular fa-circle-check text-green-500' : 'fa-regular fa-circle-xmark text-red-500'"></i>
            Al menos 1 número.
          </span>
        </div>        
      </div>

      <button
        type="button"
        class="w-full mb-4 bg-custom text-white rounded-lg text-sm px-5 py-2.5"
        (click)="sendVerificationCode()"
        (click)="openModalNumber()"
      >
        Enviar código de verificación
      </button>
    </form>
  </section>
</div>
