<div class="background">
  <img src="/assets/images/rayoAzulLogin.svg" class="background-image" alt="Voltix Logo" />
  <section class="header-section">
    <button class="custom-button" routerLink="/inicio">
      <img src="/assets/icons/backButton.svg" class="button-icon" alt="Back" />
    </button>

  </section>

    <section class="title-section max-w-sm mx-auto ">
    <img src="/assets/images/VoltixLoginBlanco.svg" alt="Logo" class="logo" />
    <h1 class="greet">¡Hola! Regístrate</h1>
    </section>

  <section class="form-section">
    <form class="max-w-sm mx-auto mb-4" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="my-1">
        <h1 class="title-form">Registro</h1>
      </div>
      <div class="mb-4">
        <label for="fullname" class="block mb-2 text-sm text-gray-900 dark:text-white">Nombre y
          Apellido</label>
        <input type="text" id="fullname" formControlName="fullname" (input)="isAllInputsValid()" [ngClass]="{
      'border-red-500': registerForm.get('fullname')?.invalid && (registerForm.get('fullname')?.touched || errorFieldsEmpty),
      'border-gray-300': !(registerForm.get('fullname')?.invalid && (registerForm.get('fullname')?.touched || errorFieldsEmpty)),
      'border-green-500': registerForm.get('fullname')?.touched
    }" class="shadow-sm bg-gray-50 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
          placeholder="Juan Ríos" required />
          <p *ngIf="registerForm.get('fullname')?.hasError('invalidFullName') && registerForm.get('fullname')?.touched" class="mt-2 text-sm text-red-600 dark:text-red-500">
            Nombre y apellido no valido.

          </p>
      </div>

      <div class="mb-4">
        <label for="email" class="block mb-2 text-sm text-gray-900 dark:text-white">Email</label>
        <input type="email" id="email" formControlName="email" (input)="isAllInputsValid()" 
            [ngClass]="{
                'border-red-500': !isEmailValid() && (registerForm.get('email')?.touched || errorFieldsEmpty),
                'border-green-500': registerForm.get('email')?.touched && isEmailValid(),
            }" 
            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
            placeholder="ejemplo@email.com" required />
        <p *ngIf="!isEmailValid() && registerForm.get('email')?.touched" class="mt-2 text-sm text-red-600 dark:text-red-500">
            ¡Error! El email no es válido.
        </p>
    </div>
      <div class="mb-4">
        <label for="dni" class="block mb-2 text-sm text-gray-900 dark:text-white">Usuario</label>
        <input type="text" id="dni" formControlName="dni" (input)="isAllInputsValid()" [ngClass]="{
      'border-red-500': registerForm.get('dni')?.invalid && (registerForm.get('dni')?.touched || errorFieldsEmpty),
      'border-gray-300': !(registerForm.get('dni')?.invalid && (registerForm.get('dni')?.touched || errorFieldsEmpty)),
      'border-green-500': registerForm.get('dni')?.touched
    }" class="shadow-sm bg-gray-50 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
          placeholder="DNI/NIF/CIF" required />
      </div>

      <div class="mb-4">
        <label for="password" class="block mb-2 text-sm text-gray-900 dark:text-white">Contraseña</label>
        <div class="relative">
          <input type="password" id="password" formControlName="password" (input)="onPasswordInput()"
            [type]="isPasswordVisible ? 'text' : 'password'"
            [ngClass]="{
              'border-red-500': (registerForm.get('password')?.invalid && (registerForm.get('password')?.touched || errorFieldsEmpty)) || !isPasswordValid() && passwordTouched,
              'border-green-500': isPasswordValid() && passwordTouched,
            }"
            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
            placeholder="Ingresar contraseña" (input)="passwordTouched = true" required />
          <button type="button" (click)="togglePasswordVisibility()" class="absolute inset-y-0 right-0 flex items-center pr-3">
            <img [src]="isPasswordVisible ? '/assets/icons/eye-alt.svg' : '/assets/icons/eye-slash.svg'" alt="Toggle Password Visibility" class="w-5 h-5" />
          </button>
        </div>
        <p *ngIf="errorPassword" class="mt-2 text-sm text-red-600 dark:text-red-500">
          <span>{{ errorPassword }}</span>
        </p>
        <div class="flex flex-col mt-2 text-xs text-gray-600 dark:text-gray-400">
          <span>
            <i [ngClass]="isPasswordValid() ? 'fa-regular fa-circle-check text-green-500' : 'fa-regular fa-circle-xmark text-red-500'"></i>
            Mínimo 8 caracteres y máximo 15 caracteres.
          </span>
          <span>
            <i [ngClass]="hasUpperCaseAndLowerCase ? 'fa-regular fa-circle-check text-green-500' : 'fa-regular fa-circle-xmark text-red-500'"></i>
            Al menos 1 mayúscula y 1 minúscula.
          </span>
          <span>
            <i [ngClass]="hasSpecialChar ? 'fa-regular fa-circle-check text-green-500' : 'fa-regular fa-circle-xmark text-red-500'"></i>
            Al menos 1 carácter especial.
          </span>
          <span>
            <i [ngClass]="hasNumber ? 'fa-regular fa-circle-check text-green-500' : 'fa-regular fa-circle-xmark text-red-500'"></i>
            Al menos 1 número.
          </span>
        </div>
      </div>
      
      <div class="mb-4">
        <label for="repeat-password" class="block mb-2 text-sm">Repita la contraseña</label>
        <div class="relative">
          <input type="password" id="repeat-password" formControlName="repeatPassword" (input)="onRepeatPasswordInput()"
            [type]="isRepeatPasswordVisible ? 'text' : 'password'"
            [ngClass]="{
              'border-red-500': (!passwordsMatch() && repeatPasswordTouched) || (registerForm.get('repeatPassword')?.invalid && (registerForm.get('repeatPassword')?.touched || errorFieldsEmpty)),
              'border-gray-300': !(registerForm.get('repeatPassword')?.invalid && (registerForm.get('repeatPassword')?.touched || errorFieldsEmpty)) && passwordsMatch(),
              'border-green-500': passwordsMatch() && repeatPasswordTouched,
            }"
            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
            placeholder="Repetir contraseña" (input)="repeatPasswordTouched = true" required />
          <button type="button" (click)="toggleRepeatPasswordVisibility()" class="absolute inset-y-0 right-0 flex items-center pr-3">
            <img [src]="isRepeatPasswordVisible ? '/assets/icons/eye-alt.svg' : '/assets/icons/eye-slash.svg'" alt="Toggle Password Visibility" class="w-5 h-5" />
          </button>
        </div>
        <p *ngIf="!passwordsMatch() && repeatPasswordTouched" class="mt-2 text-sm text-red-600 dark:text-red-500">
          ¡Error! Las contraseñas no coinciden.
        </p>
      </div>
      <p *ngIf="errorFieldsEmpty" class="my-2 text-sm text-red-600 dark:text-red-500">
        <span>{{ errorFieldsEmpty }}</span>
      </p>
      
      <button type="button" [ngClass]="{
          'bg-custom': isAllInputsValid(),
          'bg-disabled': !isAllInputsValid()
        }"
        class="w-full mb-4 text-white focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        (click)="sendVerificationCode()" (click)="openModalNumber()">Enviar código de verificación</button>

      </form>
      </section>
      </div>


<!-- Modal per l'inserimento del codice -->
<!-- <div class="modal" [ngClass]="{'show': isModalOpen}">
  <div class="modal-content">
    <span class="close" (click)="isModalOpen = false">&times;</span>
    <p>Inserta el codigo enviado por email:</p>
    <input type="text" [(ngModel)]="enteredCode" placeholder="Codigo de 6 digito"/>
    <button (click)="verifyCode()" class="modalButton">Enviar</button>
  </div>
</div> -->
<div *ngIf="modalNumberOpen" class="fixed inset-0 flex items-center justify-center z-50">
  <div class="bg-black bg-opacity-50 absolute inset-0" (click)="closeModalNumber()"></div>
  <div class="relative w-96 bg-white rounded-lg shadow-lg">
    <div class="p-6 flex-col justify-center items-center ">
      <!-- <h2 class="text-xl font-semibold"></h2> -->
      <p class="mt-6 mb-6 font-semibold ">Inserta el codigo recibido en el email:</p>
      <input type="text" [(ngModel)]="enteredCode" placeholder="Código de 6 dígitos" class="items-center border-gray-300 rounded-md" />
    </div>
    <div class="p-6 flex justify-center space-x-4">
      <button type="submit" (click)="verifyCode()" class="botonAzul">Enviar</button>
      <button (click)="closeModalNumber()" class="bg-white border border-gray-200  rounded-lg px-4 py-2 rounded">
        Cancelar
      </button>
    </div>
  </div>
</div>

