.background {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    height: 100vh; 
    background-color: #0072CE; 
    position: relative;
}

.background-image {
    position: absolute; 
    top: 7%; 
    right: 0%; 
    z-index: 1; 
    max-width: 60%; 
    width: auto; 
    height: auto; 
    min-width: 100px;
    
}

.header-section {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente los elementos */
  align-items: flex-start; /* Alinea los elementos al inicio horizontalmente */
  margin-left: 2rem;
  height: 150px; /* Ajusta la altura si es necesario */
  z-index: 2;
}

.title-section {
  display: flex;
  flex-direction: column;
  margin: 0 1.25rem; /* Márgenes laterales */
  margin-bottom: 25px; /* Elimina la separación extra debajo */
  margin-top: auto; /* Deja que esté más cerca del formulario */
  text-align: left; /* Alinea el texto a la izquierda */
  width: 100%; /* Ocupa el ancho disponible */
  z-index: 2;
}

.greet {
  font-size: 30px; /* Tamaño del texto */
  font-weight: semibold;
  color: white;
  line-height: 2rem; /* Ajusta el espaciado entre líneas */
  margin-top: 0.5rem; /* Separación desde el logo */
  margin-bottom: 10px; /* Espaciado con el formulario */
}

.form-section {
  display: flex;
  flex-direction: column;
  padding: 1.15rem; /* Ajusta el padding */
  padding-top: 0.5rem;
  height: auto;
  width: 100%;
  background-color: white;
  border-top-left-radius: 1.875rem;
  border-top-right-radius: 1.875rem;
  margin-top: 0; /* Reduce la separación superior con la sección de título */
  position: relative;
  z-index: 2;
  overflow-y: auto;
  max-height: calc(100vh - 200px);
}


.title-form {
  font-size: 1.2rem; 
  font-weight: 500;
  line-height: 2.5rem; 
  color: #000000;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.custom-button {
    margin: -10px; 
    padding-bottom: 1.25rem; 
}

.logo {
    object-fit: contain;
    max-width: 100%;
    aspect-ratio: 3.95; 
    width: 190px; 
    margin-left: 1rem;
    margin-bottom: 7.5rem;
}    

input:focus {
    outline: none; 
    box-shadow: none; 
    border-color: inherit;
}

.bg-custom {
    background-color: #0158A3;
}

.bg-custom:hover  {
    background-color: #013d70; 
}

.bg-disabled {
    background-color: #E8E9ED; 
    cursor: not-allowed; 
    color: #8E95A2;
}

.input-field {
    width: 100%; /* Asegura que ocupe todo el contenedor */
    padding: 8px; /* Espaciado interno consistente */
    font-size: 1rem; /* Tamaño de texto igual */
    border: 1px solid #ccc; /* Borde consistente */
    border-radius: 8px; /* Bordes redondeados uniformes */
    box-sizing: border-box; /* Incluye padding y borde en el cálculo del ancho */
    background-color: #f9f9f9; /* Color de fondo consistente */
    color: #333; /* Color de texto consistente */
}

.modal {
    display: none;
    position: fixed;
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Black with transparency */
    overflow: auto; /* Enable scroll if needed */
  }
  .botonAzul{
    width: 100%;
    height: 52px;
    border-radius: 8px;
    background-color: #0072CE;
    color: #ffffff;
    transition: background-color 0.3s, transform 0.3s;  
  }
  
  .modal.show {
    display: block; /* Show modal when class 'show' is added */
  }
  
  .modal-content {
    margin: 15% auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #888;
    width: 80%; /* Can be adjusted */
  }
  
  .close {
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .modalButton{
margin: 20px;
background-color: #0072CE;
width: 100px;
border: 1px solid black;
border-radius: 50px;
  }

  .form-container {
    margin: 0 16px; /* Margen lateral */
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #333;
  }
  
  .input-field:focus {
    outline: none;
    border-color: #0072CE;
    box-shadow: 0 0 4px #0072CE;
  }
  
  .with-icon {
    padding-right: 40px; /* Espacio para el icono */
  }
  
  .icon-eye {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

 .w-full {
    height: 3rem;
    margin-top: 1rem;
    font-size: 17px;
  }
