<header class="h-[52px] py-3 px-1 border-b border-b-black"></header>
<section class="container py-[50px] px-5 relative">

  <h2 class="text-2xl text-dark-text font-semibold mb-5">
    Restablecer contraseña
  </h2>
  <p class="text-lg text-dark-text mb-5">
    Ingresa tu email para que enviemos un link y puedas restablecer la
    contraseña.
  </p>

  <form class="flex flex-col" action="" [formGroup]="resetPasswordForm" >
    <div>
      <label
        for="email"
        class="block mb-[10px] text-base font-medium text-black"
        >Email</label
      >
      <input
      formControlName="email"
        type="email"
        id="email"
        class="w-full bg-white border border-gray-300 text-gray-900 text-base rounded-lg block p-2.5 focus:outline-none focus:ring-0 focus:border-gray-300"
        placeholder="ejemplo@ejemplo.com"
        [ngClass]="{
          'border-success': email?.valid && email?.touched,
          'border-error': email?.invalid && email?.touched
        }"
      />
       <!-- Mensaje de error si el email no es válido -->
       <div *ngIf="email?.touched && email?.invalid" class="text-error text-sm mt-1">
        <p *ngIf="email?.hasError('required')">El email es obligatorio.</p>
        <p *ngIf="email?.hasError('email')">Email en formato inválido</p>
      </div>
    </div>

  </form>
  <button
  type="button"
  class="w-full max-w-[390px] text-white text-base font-medium bg-primary hover:bg-primary-hover focus:bg-primary-focus rounded-lg py-[14px] px-7 absolute bottom-12 left-1/2 transform -translate-x-1/2"
  [ngClass]="{
    'text-[#8e95a2] bg-[#e8e8ed] hover:bg-[#e8e8ed] focus:bg-[#e8e8ed] cursor-not-allowed':
    !isFormValid
  }" (click)="onSubmit()"
>
  Enviar
</button>
</section>
