<app-header></app-header>
@if(!showSuccessSection){
<section class="container flex flex-col pt-[50px] pb-[60px] px-5">
  <h2 class="text-2xl text-dark-text font-semibold mb-5">
    Restablecer contraseña
  </h2>
  <p class="text-lg text-dark-text mb-5">
    Ingresa tu email para que enviemos un link y puedas restablecer la
    contraseña.
  </p>

  <form class="flex flex-col flex-grow" action="" [formGroup]="resetPasswordForm">
    <div>
      <label for="email" class="block mb-[10px] text-base font-medium text-black">Email</label>

      <input formControlName="email" type="email" id="email"
        class="w-full bg-white border text-dark-text text-base rounded-lg block px-5 py-3 focus:outline-none focus:ring-0 focus:border-input-border"
        placeholder="ejemplo@ejemplo.com" [ngClass]="{
          'border-input-border': !email?.touched,
          'border-success': email?.valid && email?.touched,
          'border-error': email?.invalid && email?.touched
        }" />
        
      <!-- Mensaje de error si el email no es válido -->
      @if(email?.touched && email?.invalid){
      <div class="text-error text-sm mt-1">
        @if(email?.hasError('required')){
        <p>El email es obligatorio.</p>
        } @if(email?.hasError('email')){
        <p>Email en formato inválido</p>
        }
      </div>
      }
    </div>

    <app-button class="mt-auto" text="Enviar" [disabled]="!isFormValid"
      (click)="onSubmit()"></app-button>
  </form>

</section>

} @else {
<!-- Email enviado -->
<section class="container flex flex-col items-center flex-grow pt-[50px] pb-[60px] px-5">
    <img class="w-[280px] h-[420px] mb-6" src="/assets/images/forgotPasswordSuccess.svg" alt="restablecer contraseña">
    <p class="text-dark-text text-lg font-medium text-center">Te enviamos un email a tu cuenta con las instrucciones
      para restablecer la contraseña.</p>
      <app-button class="block w-full mt-auto" text="Continuar"></app-button>
</section>
}
