.container {
  height: calc(100vh - 52px);
}

.containerCheck {
  display: flex;
  flex-direction: column;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
}

li div:last-child {
  flex: 1;
}
