<div class="background">
  <img src="/assets/images/rayoAzulLogin.svg" class="background-image" alt="Voltix Logo" />
  <section class="header-section">
    <button class="custom-button" routerLink="/home">
      <img 
        src="/assets/icons/backButton.svg"
        class="button-icon" alt="Back" />
    </button>
    <img 
      src="/assets/images/VoltixLoginBlanco.svg"
      alt="Logo" class="logo" />
    <h1 class="greet">¡Hola! Nos alegra volverte a encontrar</h1>
    
  </section>

  <section class="form-section ">
    <h2 class="form-title">Inicio de sesión</h2>
    <form class="login-form ">
      <div class="form-group mb-6">
        <label for="usuario" class="label">Usuario</label>
        <input type="text" id="usuario" placeholder="DNI/NIF/CIF" class="input" />
      </div>
      <div class="form-group">
        <label for="password" class="label">Contraseña</label>
        <div class="password-container mb-4">
          <input [type]="passwordVisible ? 'text' : 'password'" id="password" placeholder="Ingresar contraseña"
            class="password-input" />
          <button type="button" (click)="togglePasswordVisibility()" class="toggle-password">
            <img [src]="passwordVisible ? '/assets/icons/eye-slash.svg' : '/assets/icons/eye-alt.svg'" alt="Toggle Password Visibility"
              class="eye-icon" />
          </button>
        </div>
        <button type="button" class="forgot-password" routerLink="/forgot-password">¿Olvidaste la contraseña?</button>
      </div>
      <button type="submit" class="submit-button mb-5">Aceptar</button>
    </form>
  </section>
</div>