.background {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: auto;
    width: 100%;
    height: 100vh; 
    background-color: #0072ce; 
    position: relative;
    
}

.background-image {
    position: absolute; 
    top: 15%; 
    right: 0%; 
    z-index: 1; 
     
    width: 500px; 
    height: auto; 
    min-width: 100px;
    object-fit: contain; 
}

.header-section {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem; 
    margin-left: 1.25rem; 
    width: 100%;
    font-size: 1.875rem; 
    
    line-height: 2.5rem; 
     
     
    position: relative; 
    z-index: 2; 
}

.custom-button {
    margin: -10px; 
    padding-bottom: 1.25rem; 
}

.logo {
    object-fit: contain;
    width: 500px; 
    height: auto;
    width: 400%;
    aspect-ratio: 3.95; 
    width: 174px; 
}    

.greet {
    font-weight: bold;
    
    color: white;
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem; 
    margin-left: 1.25rem; 
    width: 100%;
    font-size: 4rem; 
    padding-bottom: 40px;
    line-height: 5rem; 
     
    
}

/* Formulario responsivo */
.form {
    margin-top: auto;
}

.form-section {
    display: flex;
    flex-direction: column;
    padding: 1.7rem  !important; 
    width: 100%;
    background-color: white; 
    border-top-left-radius: 1.875rem; 
    border-top-right-radius: 1.875rem; 
    margin-top: auto;
    position: relative; 
    z-index: 2; 
}

.form-title {
    font-size: 1.2rem; 
    font-weight: 500;
    line-height: 2.5rem; 
    margin-left: 0.3rem;
    color: #000000; 
    margin-top: 0.5rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem; 
    width: 100%;
    font-size: 1.5rem; 
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label {
    display: block; /* Hace que la etiqueta ocupe su propia línea */
    font-weight: medium;
    color: #27272a;
    margin-bottom: 0.25rem; /* Reduce el espacio entre la etiqueta y el input */
    font-size: 1rem; /* Ajusta el tamaño de la fuente si es necesario */
    line-height: 1; /* Elimina los espacios adicionales verticales */
    margin-left: 0.3rem;
}

.input, .password-container {
    display: flex;
    align-items: center; /* Asegura que los íconos estén alineados con el input */
    padding: 0.75rem 1rem;
    margin-top: 0; /* Elimina márgenes adicionales por encima */
    color: #6b7280;
    background-color: white;
    border: 1px solid #e5e7eb;
    border-radius: 0.375rem;
    width: 90%; /* Ajusta el ancho de los campos */
    height: 3rem;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 100%; /* Asegura que ocupe todo el contenedor */
    padding: 10px; /* Espaciado interno consistente */
    font-size: 1rem !important; /* Tamaño de texto igual */
    border: 1px solid #ccc; /* Borde consistente */
    border-radius: 8px; /* Bordes redondeados uniformes */
    box-sizing: border-box; /* Incluye padding y borde en el cálculo del ancho */
    background-color: #f9f9f9; /* Color de fondo consistente */
    color: #333; /* Color de texto consistente */
}

/* Esta sección asegura que el contenedor de la contraseña y el input de usuario tengan un alineamiento vertical coherente */
.password-container {
    display: flex;
    align-items: center;
    position: relative; /* Para que el icono esté alineado dentro del campo */
    padding: 0.75rem 1rem;
    margin-top: 0;
    color: #6b7280;
    background-color: white;
    border: 1px solid #e5e7eb;
    border-radius: 0.375rem;
    width: 90%;
    height: 3rem;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 100%; /* Asegura que ocupe todo el contenedor */
    padding: 10px; /* Espaciado interno consistente */
    font-size: 1rem; /* Tamaño de texto igual */
    border: 1px solid #ccc; /* Borde consistente */
    border-radius: 8px; /* Bordes redondeados uniformes */
    box-sizing: border-box; /* Incluye padding y borde en el cálculo del ancho */
    background-color: #f9f9f9; /* Color de fondo consistente */
    color: #333; /* Color de texto consistente */
}

.password-container:focus-within {
    border: 1px solid #0072ce; /* Mismo color azul que el borde del DNI */
    box-shadow: 0 0 0 2px rgba(0, 114, 206, 0.2); /* Opcional, sombra para énfasis */
    outline: none; /* Elimina el borde del contenedor predeterminado */
  }
  
  .password-input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none; /* Elimina el borde azul interno del input */
    height: 100%; /* Igualar la altura del input */
    font-size: 1rem;
    margin: 0;
    padding: 0;
    box-shadow: none; /* Asegura que no haya sombras */
  }  

.toggle-password {
    position: absolute;
    right: 1rem; /* Ajusta la posición del icono al lado derecho */
    background: none;
    border: none;
    cursor: pointer;
    padding: 0; /* Elimina padding extra */
    height: 100%; /* Alinea verticalmente el icono */
    display: flex;
    align-items: center;
}

.eye-icon {
    width: 1.25rem;
    height: 1.25rem;
}

.forgot-password {
    margin-top: 0.75rem; 
    font-weight: medium; 
    color: #0072CE; 
}

.submit-button {
    height: 3rem;
    margin-top: 1rem;
    font-size: 17px;
    display: flex;
    gap: 0.625rem; 
    justify-content: center;
    padding: 0.875rem 1.75rem; 
    margin-top: 2rem; 
    width: 100%;
    font-weight: medium; 
    color: #9ca3af; 
    background-color: #e5e7eb; 
    border-radius: 0.5rem; 
    min-height: 3.25rem;
    cursor: not-allowed; /* Evita interacción cuando está deshabilitado */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.submit-button.button-active {
    background-color: #0058a3; /* Color azul */
    color: white; /* Cambia el texto a blanco */
    cursor: pointer; /* Habilita interacción */
}

/* logica validacion usuario */
.border-red {
    border: 2px solid #d94040; 
}

.border-green {
    border: 2px solid #7db661;
}

.error-message {
    color: red; 
    margin-top: 0.5rem; 
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .background-image {
        max-width: 200%;
        top: 5%;
    }

    .header-section {
        margin-left: 1rem; 
        
    }

    .logo {
        width: 500px;
    }

    .greet {
        line-height: 4rem; 
        font-size: 3rem;
    }

    .form-section {
        padding: 1rem;    
        border-top-left-radius: 1.25rem; 
        border-top-right-radius: 1.25rem; 
    }

    .form-title {
        font-size: 1.25rem; 
    }

    .label {
        font-size: 0.875rem; 
    }

    .input, .password-container {
        padding: 0.5rem 0.75rem; 
        font-size: 0.875rem; 
    }

    .submit-button {
        padding: 0.75rem 1.5rem;
    }
}

@media (max-width: 480px) {
    .background-image {
        width: 80%;
        top: 10%; 
    }

    .header-section {
        font-size: 1.25rem;
    }

    .logo {
        width: 200px;
    }

    .greet {
        line-height: 3rem;
        font-size: 2rem; 
    }

    .form-section {
        padding: 0.75rem; 
    }

    .input, .password-container {
        font-size: 0.75rem; 
    }

    .submit-button {
        padding: 0.75rem 1.25rem; 
    }

    .login-form {
            
        margin-top: 1.2rem; 
        
        font-size: 1.2rem; 
    }
@media (max-width: 380px) {
        .greet {
            line-height: 2rem;
            font-size: 1.5rem;
        }
        .logo {
            width: 150px;
        }
        .login-form {
            
            margin-top: 1rem; 
            
            font-size: 1rem; 
        }

    }
}
