<div 
  class="background">
  <img 
    loading="lazy" 
    src="assets/images/rayoAzulLogin.svg" 
    class="background-image" 
    alt="Voltix Logo" />
  <section 
    class="header-section">
    <button 
      class="custom-button" 
      routerLink="/home">
      <img 
        loading="lazy" 
        src="assets/icons/backButton.svg" 
        class="button-icon" 
        alt="Back" />        
    </button>
    <img 
      loading="lazy" 
      src="assets/images/VoltixLoginBlanco.svg" 
      alt="Logo" 
      class="logo" />
  </section>
  <div 
    class="form">
    <h1 
      class="greet">
      ¡Hola! Nos alegra 
      <br> 
      volverte a encontrar
    </h1>
    <section 
      class="form-section">
      <h2 
        class="form-title">
        Inicio de sesión
      </h2>
      <form 
        class="login-form" 
        [formGroup]="login">
        <div 
          class="form-group mb-6">
          <label 
            for="usuario" 
            class="label">
            Usuario
          </label>
          <input 
            type="text" 
            id="usuario" 
            placeholder="DNI/NIF/CIF" 
            class="input" 
            formControlName="usuario" 
            [ngClass]="{
              'border-red': userNotFound, 
              'border-green': usuarioCorrecto
            }" 
            required />
          @if (userNotFound) {
            <div 
              class="error-message text-sm">
              DNI/NIF/CIF no encontrado
            </div>
          }
        </div>
        <div 
          class="form-group">
          <label 
            for="password" 
            class="label">
            Contraseña
          </label>
          <div 
            class="password-container" 
            [ngClass]="{
              'border-red': passwordNotFound, 
              'border-green': passwordCorrecta
            }">
            <input 
              [type]="passwordVisible ? 'text' : 'password'" 
              id="password" 
              placeholder="Ingresar contraseña" 
              class="password-input" 
              formControlName="password" 
              required />
            <button 
              type="button" 
              (click)="togglePasswordVisibility()" 
              class="toggle-password">
              <img 
                [src]="
                  passwordNotFound ? 
                  'assets/icons/error.svg' : 
                  passwordCorrecta ? 
                  'assets/icons/success.svg' : 
                  passwordVisible ? 
                  'assets/icons/eye-slash.svg' : 
                  'assets/icons/eye-alt.svg'" 
                alt="Toggle Password Visibility" 
                class="eye-icon" />
            </button>
          </div>
          @if (camposIncompletos) {
            <div 
              class="error-message text-sm">
              Todos los campos son obligatorios
            </div>
          }
          @if (passwordNotFound) {
            <div 
              class="error-message text-sm">
              Contraseña incorrecta
            </div>
          }
          <button 
            type="button" 
            class="forgot-password">
            ¿Olvidaste la contraseña?
          </button>
        </div>
        <button 
          type="submit" 
          class="submit-button mb-5" 
          [ngClass]="{'button-active': login.valid}" 
          [disabled]="!login.valid" 
          (click)="onSubmit()">
          Aceptar
        </button>
      </form>
    </section>
  </div>
</div>
