.background {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    height: 100vh; 
    background-color: #0ea5e9; 
    position: relative;
}

.background-image {
    position: absolute; 
    top: 15%; 
    right: 0%; 
    z-index: 1; 
    max-width: 60%; 
    width: auto; 
    height: auto; 
    min-width: 100px;
    
}

.header-section {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem; 
    margin-left: 1.25rem; 
    width: 100%;
    font-size: 1.875rem; 
    font-weight: bold;
    line-height: 2.5rem; 
    color: white; 
    max-width: 19rem; 
    position: relative; 
    z-index: 2;   
}

.custom-button {
    margin: -10px; 
    padding-bottom: 1.25rem; 
}

.logo {
    object-fit: contain;
    max-width: 100%;
    aspect-ratio: 3.95; 
    width: 174px; 
}    

.greet {
    margin-top: 9rem; 
}

.form-section {
    display: flex;
    flex-direction: column;
    padding: 1.25rem; 
    width: 100%;
    background-color: white; 
    border-top-left-radius: 1.875rem; 
    border-top-right-radius: 1.875rem; 
    margin-top: auto;
    position: relative; 
    z-index: 2; 
    
}

.form-title {
    font-size: 1.5rem; 
    font-weight:  semibold; 
    line-height: 1; 
    color: #27272a; 
}

.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem; 
    width: 100%;
    font-size: 1rem; 
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label {
    gap: 0.625rem; 
    max-width: 100%;
    font-weight: medium; 
    color: #27272a; 
    width: 250px; 
}    

.input {
    display: flex;
    flex: 1;
    gap: 0.625rem; 
    align-items: center;
    padding: 0.75rem 1rem; 
    margin-top: 0.5rem; 
    color: #6b7280;
    background-color: white; 
    border: 1px solid #e5e7eb; 
    border-radius: 0.375rem; 
}

.password-container {
    display: flex;
    flex: 1;
    gap: 0.625rem; 
    align-items: center;
    padding: 0.75rem 1rem; 
    margin-top: 0.5rem; 
    color: #6b7280; 
    background-color: white; 
    border: 1px solid #e5e7eb; 
    border-radius: 0.375rem; 
}

.password-input {
    flex: 1;
    background: transparent; 
    border: none; 
    outline: none; 
}



.forgot-password {
    margin-top: 0.75rem; 
    font-weight: medium; 
    color: #0ea5e9; 
}

.submit-button {
    display: flex;
    gap: 0.625rem; 
    justify-content: center;
    padding: 0.875rem 1.75rem; 
    margin-top: 2rem; 
    width: 100%;
    font-weight: medium; 
    color: #9ca3af; 
    background-color: #e5e7eb; 
    border-radius: 0.5rem; 
    min-height: 3.25rem;
}