<div class="container flex flex-col h-screen lg:flex-row">
    <div class="left-section flex flex-col justify-center items-center lg:max-w-[55%] bg-blue-700 relative">
        <img src="/assets/images/bgElectricalTechnician.svg"
            class="absolute inset-0 w-full h-full object-cover object-top z-0" alt="Fondo" />
        <section class="title-section relative z-10 max-w-sm mx-auto text-center">
            <img src="/assets/images/VoltixLoginBlanco.svg" alt="Logo" class="h-auto mx-auto w-[15rem] lg:w-[40rem]" />
        </section>
    </div>
    <div class="right-section g:max-w-[45%]">
        <div class="max-w-sm mx-auto mb-4">
            <h1 class="mt-4 mb-3 text-2xl font-medium">¡Descubre cómo es posible agilizar la revisión de tu consumo de
                energía eléctrica!</h1>
            <p class="mb-4">Te presentamos una solución transparente, escalable y eficiente, para mejorar el control de
                calidad a través de una revisión de datos exhaustiva, reduciendo tiempos de verificación manual y
                minimizando errores.</p>
            <button
                class="bg-custom w-full my-5 text-white focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-sm px-5 py-2.5 text-center"
                routerLink="/home">Comenzar</button>
        </div>
    </div>
</div>