.background {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  height: 100vh; 
  background-color: #0072CE; 
  position: relative;
}

.background-image {
  position: absolute; 
  bottom: 80%; 
  right: 0%; 
  z-index: 1; 
  max-width: 35%; 
  width: auto; 
  height: auto; 
  min-width: 100px;
  z-index: 1;
  
}
.body-section {
  z-index: 3;
  flex: 1; 
  background-color: white; 
  height: 100%;
}
.header-section {
  margin-top: 3rem; 
  width: 100%;
  color: white; 
  position: relative; 
  z-index: 2;   
}

/* Contenedor de consumo actual (alineado a la derecha) */
.consumo-actual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
}

.containerConsumo {
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.section {
  padding: 20px;
  background-color: #f2f2f2;
}
.consumo-mes {
  margin-left: auto;
}

.botones {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Espacio entre el icono y el texto */
  background-color: white;
  width: 49%;
  height: 100%;
  color: #0072ce;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.icon {
  width: 24px;
  height: 24px;
  color: #0072ce;
}
