/* Encabezado azul */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0072ce;
  color: white;
  padding: 8px 16px;
  height: 150px; /* Ajustado a un valor más pequeño */
  position: relative; /* Para posicionar los elementos dentro del header */
  overflow: hidden; /* Para que el rayo no se desborde */
}

/* Contenedor de rayo e imagen del perfil */
.profile-rayo-container {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Para centrar la imagen de perfil */
  z-index: 1;
}

/* Rayo cortado */
.rayo-cortado {
  width: 150%;
  height: 150%;
  position: absolute;
  margin-left: 40%;
  top: 0;
  left: 0;
}

/* Contenedor de perfil */
.profile-container {
  margin-left: 80%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2; /* Para que esté por encima del rayo */
}

/* Imagen del perfil */
.profile-container .profile-image {
  height: 80px; /* Ajusta el tamaño de la imagen del perfil */
  width: 80px;
  border-radius: 50%;
  border: 2px solid;
  object-fit: cover;
}

/* Contenedor de consumo actual (alineado a la derecha) */
.consumo-actual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
}

.containerConsumo {
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.section {
  padding: 20px;
  background-color: #f2f2f2;
}
.consumo-mes {
  margin-left: auto;
}

.botones {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Espacio entre el icono y el texto */
  background-color: white;
  width: 49%;
  height: 100%;
  color: #0072ce;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px; /* Ajusta el tamaño del texto */
}

.icon {
  width: 24px;
  height: 24px;
  color: #0072ce; /* El mismo color que el texto */
}
