<header class="flex items-center justify-between p-3 bg-white">

  <button type="button"
    (click)="goBack()">
    <img src="/assets/icons/blackBackButton.svg" alt="">
  </button>

  <div class="text-center">
    <img src="/assets/images/voltixLogo.svg" alt="Voltix logo">
  </div>

  <!-- TODO: saber en qué pantallas se verá el avatar del user (solo cuando esté logeado?) -->
  <div  [ngClass]="{'invisible': !isLoggedIn}" class="user-avatar w-[44px] h-[44px]"></div>

</header>

<!-- INPUT -->
<section
  *ngIf="!showSuccessSection"
  class="container pt-[50px] pb-[94px] px-5 relative"
>
  <h2 class="text-2xl text-dark-text font-semibold mb-5">Nueva contraseña</h2>

  <form class="flex flex-col" action="" [formGroup]="newPasswordForm">
    <div>
      <label
        for="email"
        class="block mb-[10px] text-base font-medium text-black"
        >Email</label
      >

      <input
        formControlName="email"
        type="email"
        id="email"
        class="w-full bg-[#e8e9ed] border border-[#e8e9ed] text-dark-text text-base rounded-lg block px-5 py-3 mb-4 focus:outline-none focus:ring-0 focus:border-[#e8e9ed]"
        placeholder="ejemplo@ejemplo.com"
        readonly
        [value]="userEmail"
      />

      <app-input-password
        formControlName="newPassword"
        name="newPassword"
        label="Nueva contraseña"
        placeholder="Ingresar nueva contraseña"
      ></app-input-password>

      <div class="containerCheck">
        <ul class="list-none p-0">
          <!-- Longitud mínima y máxima -->
          <li class="flex items-center">
            <div class="flex items-center w-1/12">
              <img
                *ngIf="
                  newPasswordForm.get('newPassword')?.touched &&
                  (newPasswordForm
                    .get('newPassword')
                    ?.hasError('lengthError') ||
                    !newPasswordForm.get('newPassword')?.value)
                "
                src="/assets/icons/redCrossCircle.svg"
                alt="Error: longitud incorrecta"
                class="w-4 h-4"
              />
              <img
                *ngIf="
                  newPasswordForm.get('newPassword')?.touched &&
                  !newPasswordForm
                    .get('newPassword')
                    ?.hasError('lengthError') &&
                  newPasswordForm.get('newPassword')?.value
                "
                src="/assets/icons/greenCheckCircle.svg"
                alt="Correcto: longitud correcta"
                class="w-4 h-4"
              />
            </div>
            <div class="ml-2 w-11/12">
              <span class="text-base text-[#6b7280]">
                Mínimo 8 caracteres y máximo 15 caracteres.
              </span>
            </div>
          </li>

          <!-- Mayúsculas y minúsculas -->
          <li class="flex items-center">
            <div class="flex items-center w-1/12">
              <img
                *ngIf="
                  newPasswordForm.get('newPassword')?.touched &&
                  (newPasswordForm
                    .get('newPassword')
                    ?.hasError('uppercaseError') ||
                    !newPasswordForm.get('newPassword')?.value)
                "
                src="/assets/icons/redCrossCircle.svg"
                alt="Error: falta mayúscula"
                class="w-4 h-4"
              />
              <img
                *ngIf="
                  newPasswordForm.get('newPassword')?.touched &&
                  !newPasswordForm
                    .get('newPassword')
                    ?.hasError('uppercaseError') &&
                  newPasswordForm.get('newPassword')?.value
                "
                src="/assets/icons/greenCheckCircle.svg"
                alt="Correcto: tiene al menos una mayúscula"
                class="w-4 h-4"
              />
            </div>
            <div class="ml-2 w-11/12">
              <span class="text-base text-[#6b7280]">
                Al menos 1 mayúscula y 1 minúscula.
              </span>
            </div>
          </li>

          <!-- Carácter especial -->
          <li class="flex items-center">
            <div class="flex items-center w-1/12">
              <img
                *ngIf="
                  newPasswordForm.get('newPassword')?.touched &&
                  (newPasswordForm
                    .get('newPassword')
                    ?.hasError('specialCharacterError') ||
                    !newPasswordForm.get('newPassword')?.value)
                "
                src="/assets/icons/redCrossCircle.svg"
                alt="Error: falta carácter especial"
                class="w-4 h-4"
              />
              <img
                *ngIf="
                  newPasswordForm.get('newPassword')?.touched &&
                  !newPasswordForm
                    .get('newPassword')
                    ?.hasError('specialCharacterError') &&
                  newPasswordForm.get('newPassword')?.value
                "
                src="/assets/icons/greenCheckCircle.svg"
                alt="Correcto: tiene al menos un carácter especial"
                class="w-4 h-4"
              />
            </div>
            <div class="ml-2 w-11/12">
              <span class="text-base text-[#6b7280]">
                Al menos 1 carácter especial.
              </span>
            </div>
          </li>

          <!-- Números -->
          <li class="flex items-center">
            <div class="flex items-center w-1/12">
              <img
                *ngIf="
                  newPasswordForm.get('newPassword')?.touched &&
                  (newPasswordForm
                    .get('newPassword')
                    ?.hasError('numberError') ||
                    !newPasswordForm.get('newPassword')?.value)
                "
                src="/assets/icons/redCrossCircle.svg"
                alt="Error: falta número"
                class="w-4 h-4"
              />
              <img
                *ngIf="
                  newPasswordForm.get('newPassword')?.touched &&
                  !newPasswordForm
                    .get('newPassword')
                    ?.hasError('numberError') &&
                  newPasswordForm.get('newPassword')?.value
                "
                src="/assets/icons/greenCheckCircle.svg"
                alt="Correcto: tiene al menos un número"
                class="w-4 h-4"
              />
            </div>
            <div class="ml-2 w-11/12">
              <span class="text-base text-[#6b7280]"> Al menos 1 número. </span>
            </div>
          </li>
        </ul>
      </div>

      <app-input-password
        formControlName="repeatPassword"
        name="repeatPassword"
        label="Repetir la nueva contraseña"
        placeholder="Ingresar nueva contraseña"
      ></app-input-password>
      <div
        *ngIf="
          newPasswordForm.hasError('mismatch') &&
          newPasswordForm.get('repeatPassword')?.touched
        "
        class="text-red-500 text-sm"
      >
        Las contraseñas no coinciden.
      </div>
    </div>
  </form>
  <!-- button -->
  <!-- text="Enviar"
    maxWidth="390px"
    [disabled]="!isFormValid"
    (click)="onSubmit()" -->
    <button 
    [ngClass]="{
      'bg-primary hover:bg-primary-hover focus:bg-primary-focus text-white':
        !disabled,
      'text-[#8e95a2] bg-[#e8e8ed] hover:bg-[#e8e8ed] focus:bg-[#e8e8ed] cursor-not-allowed':
        disabled,
    }"
    class="w-full max-w-[{{maxWidth}}] text-base font-medium rounded-lg py-[14px] px-7"
    [disabled]="!isFormValid"
    text="Enviar"
    (click)="onSubmit()">
    {{ text }}
  </button>
</section>

<!-- success -->
<section
  *ngIf="showSuccessSection"
  class="container flex flex-col items-center flex-grow pt-[50px] pb-[60px] px-5"
>
  <img
    class="w-[280px] h-[420px] mb-6"
    src="/assets/images/newPasswordSuccess.svg"
    alt="restablecer contraseña"
  />
  <h2 class="text-2xl text-dark-text font-semibold mb-5">
    ¡Contraseña restablecida!
  </h2>
  <!-- button -->
  <!-- class="block w-full mt-auto" text="Continuar" -->
  <button [ngClass]="{
    'bg-primary hover:bg-primary-hover focus:bg-primary-focus text-white':
      !disabled,
    'text-[#8e95a2] bg-[#e8e8ed] hover:bg-[#e8e8ed] focus:bg-[#e8e8ed] cursor-not-allowed':
      disabled,
  }"
  class="w-full max-w-[{{maxWidth}}] text-base font-medium rounded-lg py-[14px] px-7"
  [disabled]="!isFormValid"
  text="Continuar"
  (click)="onSubmit()">
  {{ text }}
</button>
</section>
