<header
  class="h-auto flex items-center justify-between bg-[#0072CE] relative overflow-hidden p-4"
>
  <div class="w-36 absolute right-0 z-0">
    <img
      src="assets/images/rayoAzulLogin.svg"
      alt="Decoración en forma de rayo azul"
    />
  </div>
  <button
    class="w-6 h-6 rotate-180"
    aria-label="Volver al inicio de sesión"
    (click)="goToForgotPassword()"
  >
    <img
      src="/assets/icons/chevron-right.svg"
      alt="Icono de flecha hacia atrás"
    />
  </button>
  <img
    src="assets/images/VoltixLoginBlanco.svg"
    class="w-32 z-10"
    alt="Logo de Voltix"
  />
  <div class="w-11 h-11"></div>
</header>

@if(!showSuccessSection){
<section class="container pt-[50px] pb-[94px] px-5 relative">
  <h2 class="text-2xl text-dark-text font-semibold mb-5">Nueva contraseña</h2>

  <form class="flex flex-col" action="" [formGroup]="newPasswordForm">
    <div class="mb-4">
      <label
        for="password"
        class="block mb-2 text-sm text-gray-900 dark:text-white"
        >Contraseña</label
      >
      <div class="relative">
        <input
          type="password"
          id="new_password"
          formControlName="new_password"
          (input)="onPasswordInput()"
          [type]="isPasswordVisible ? 'text' : 'password'"
          [ngClass]="{
            'border-red-500': (newPasswordForm.get('new_password')?.invalid && (newPasswordForm.get('new_password')?.touched || errorFieldsEmpty)) || !isPasswordValid() && passwordTouched,
            'border-green-500': isPasswordValid() && passwordTouched,
          }"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
          placeholder="Ingresar contraseña"
          (input)="passwordTouched = true"
          required
        />
        <button
          type="button"
          (click)="togglePasswordVisibility()"
          class="absolute inset-y-0 right-0 flex items-center pr-3"
        >
          <img
            [src]="
              isPasswordVisible
                ? '/assets/icons/eye-alt.svg'
                : '/assets/icons/eye-slash.svg'
            "
            alt="Toggle Password Visibility"
            class="w-5 h-5"
          />
        </button>
      </div>
      <p
        *ngIf="errorPassword"
        class="mt-2 text-sm text-red-600 dark:text-red-500"
      >
        <span>{{ errorPassword }}</span>
      </p>
      <div class="flex flex-col mt-2 text-xs text-gray-600 dark:text-gray-400">
        <span>
          <i
            [ngClass]="
              isPasswordValid()
                ? 'fa-regular fa-circle-check text-green-500'
                : 'fa-regular fa-circle-xmark text-red-500'
            "
          ></i>
          Mínimo 8 caracteres y máximo 15 caracteres.
        </span>
        <span>
          <i
            [ngClass]="
              hasUpperCaseAndLowerCase
                ? 'fa-regular fa-circle-check text-green-500'
                : 'fa-regular fa-circle-xmark text-red-500'
            "
          ></i>
          Al menos 1 mayúscula y 1 minúscula.
        </span>
        <span>
          <i
            [ngClass]="
              hasSpecialChar
                ? 'fa-regular fa-circle-check text-green-500'
                : 'fa-regular fa-circle-xmark text-red-500'
            "
          ></i>
          Al menos 1 carácter especial.
        </span>
        <span>
          <i
            [ngClass]="
              hasNumber
                ? 'fa-regular fa-circle-check text-green-500'
                : 'fa-regular fa-circle-xmark text-red-500'
            "
          ></i>
          Al menos 1 número.
        </span>
      </div>
    </div>
    <div class="mb-4">
      <label
        for="new_password"
        class="block mb-2 text-sm text-gray-900 dark:text-white"
        >Contraseña</label
      >
      <div class="relative">
        <input
          type="password"
          id="confirm_password"
          formControlName="confirm_password"
          (input)="onPasswordInput()"
          [type]="isPasswordVisible ? 'text' : 'password'"
          [ngClass]="{
            'border-red-500': (newPasswordForm.get('confirm_password')?.invalid && (newPasswordForm.get('confirm_password')?.touched || errorFieldsEmpty)) || !isPasswordValid() && passwordTouched,
            'border-green-500': isPasswordValid() && passwordTouched,
          }"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
          placeholder="Ingresar contraseña"
          (input)="passwordTouched = true"
          required
        />
        <button
          type="button"
          (click)="togglePasswordVisibility()"
          class="absolute inset-y-0 right-0 flex items-center pr-3"
        >
          <img
            [src]="
              isPasswordVisible
                ? '/assets/icons/eye-alt.svg'
                : '/assets/icons/eye-slash.svg'
            "
            alt="Toggle Password Visibility"
            class="w-5 h-5"
          />
        </button>
      </div>
      <p
        *ngIf="errorPassword"
        class="mt-2 text-sm text-red-600 dark:text-red-500"
      >
        <span>{{ errorPassword }}</span>
      </p>
      <!--   <div class="flex flex-col mt-2 text-xs text-gray-600 dark:text-gray-400">
        <span>
          <i
            [ngClass]="
              isPasswordValid()
                ? 'fa-regular fa-circle-check text-green-500'
                : 'fa-regular fa-circle-xmark text-red-500'
            "
          ></i>
          Mínimo 8 caracteres y máximo 15 caracteres.
        </span>
        <span>
          <i
            [ngClass]="
              hasUpperCaseAndLowerCase
                ? 'fa-regular fa-circle-check text-green-500'
                : 'fa-regular fa-circle-xmark text-red-500'
            "
          ></i>
          Al menos 1 mayúscula y 1 minúscula.
        </span>
        <span>
          <i
            [ngClass]="
              hasSpecialChar
                ? 'fa-regular fa-circle-check text-green-500'
                : 'fa-regular fa-circle-xmark text-red-500'
            "
          ></i>
          Al menos 1 carácter especial.
        </span>
        <span>
          <i
            [ngClass]="
              hasNumber
                ? 'fa-regular fa-circle-check text-green-500'
                : 'fa-regular fa-circle-xmark text-red-500'
            "
          ></i>
          Al menos 1 número.
        </span>
      </div> -->
    </div>
  </form>

  <button
    [ngClass]="{
      'bg-primary hover:bg-primary-hover focus:bg-primary-focus text-white':
      isAllInputsValid(),
      'text-[#8e95a2] bg-[#e8e8ed] hover:bg-[#e8e8ed] focus:bg-[#e8e8ed] cursor-not-allowed':
      !isAllInputsValid(),
    }"
    class="w-full max-w-96 text-base font-medium rounded-lg py-[14px] px-7 absolute bottom-24"
    [disabled]="!isAllInputsValid()"
    (click)="onSubmit()"
  >
    Aceptar
  </button>
</section>
}@else {
<!-- success -->
<section
  class="container flex flex-col items-center flex-grow pt-[86px] pb-[60px] px-5"
>
  <img
    class="mb-12"
    src="/assets/images/newPasswordSuccess.svg"
    alt="restablecer contraseña"
  />
  <h2 class="text-lg text-dark-text font-medium text-center leading-[1.45]">
    ¡Buenas noticias! Tu nueva contraseña se generó correctamente.
  </h2>

  <button
    class="w-full max-w-96 text-base font-medium bg-primary hover:bg-primary-hover focus:bg-primary-focus text-white rounded-lg py-[14px] px-7 absolute bottom-24"
    (click)="goToLogin()"
  >
    Iniciar sesión
  </button>
</section>
}
