<div class="cont w-full bg-gray-100 relative overflow-auto pb-5">
  <div class="header user-container">
    <div class="navbar">
      <button type="button" aria-label="back button">
        <img src="assets/icons/backButton.svg" id="button-back" alt="" (click)="goToInvoice()" />
      </button>
      <img src="assets/images/VoltixLoginBlanco.svg" alt="" />
      <button type="button" (click)="toggleDropdown()">
        <img
          [src]="user.photo ? user.photo : 'assets/avatar-default.png'"
          alt="Avatar"
          class="avatar"
          width="30px"
          height="30px"
        />
      </button>
    </div>
    <div class="select">
      <button type="button" class="factura button" (click)="goToInvoice()">
        Facturas
      </button>
      <button
        type="button"
        class="mediciones button"
        (click)="goToMeasurements()"
      >
        Mediciones
      </button>
    </div>
    <!-- Dropdown -->
    <div class="dropdown" [ngClass]="{ hidden: !isDropdownOpen }">
      <ul>
        <li class="dropdown-item" (click)="closeDropdown()">
          <img src="/assets/icons/close-x.svg" alt="Close Ico" class="closeX" />
        </li>
        <li class="dropdown-item mb-4" (click)="goToProfile()">
          <img src="/assets/icons/user.svg" alt="User Ico" class="icon" />Mi
          perfil
          <img
            src="/assets/icons/chevron-right.svg"
            alt="Alerts Ico"
            class="chevronRight"
          />
        </li>
        <li class="dropdown-item my-4">
          <img
            src="/assets/icons/alerts.svg"
            alt="Alerts Ico"
            class="icon"
          />Notificaciones
          <img
            src="/assets/icons/chevron-right.svg"
            alt="Alerts Ico"
            class="chevronRight"
          />
        </li>
        <li class="dropdown-item my-4">
          <img
            src="/assets/icons/question-circle.svg"
            alt="Question Circle Ico"
            class="icon"
          />Ayuda
          <img
            src="/assets/icons/chevron-right.svg"
            alt="Alerts Ico"
            class="chevronRight"
          />
        </li>
        <hr />
        <li class="dropdown-item my-4" (click)="logout()">
          <img src="/assets/icons/exit.svg" alt="Exit Ico" class="icon" />Cerrar
          Sesión
          <img
            src="/assets/icons/chevron-right.svg"
            alt="Alerts Ico"
            class="chevronRight"
          />
        </li>
      </ul>
    </div>
  </div>

  <ng-container *ngIf="invoicePage; else invoiceImage">
    <div *ngIf="!isLoading && invoicePage">
      <div
        class="relative overflow-x-auto m-4 p-4 bg-white rounded-lg border border-gray-200"
      >
        <h3 class="font-semibold">
          Factura #{{ this.invoice?.data?.numero_referencia }}
        </h3>
        <form class="w-full mx-auto mt-4">
          <div class="mb-4 relative">
            <label
              for="cif"
              class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >CIF/NIF</label
            >
            <input
              type="text"
              id="cif"
              disabled
              value="{{ this.user.dni }}"
              class="bg-gray-200 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            />
            <h2></h2>
          </div>
          <div class="mb-4 relative">
            <label
              for="fecha_cargo"
              class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Fecha de carga</label
            >
            <input
              type="text"
              id="fecha_cargo"
              disabled
              value="{{ formatDate(this.invoice?.created_at) }}"
              class="bg-gray-200 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            />
          </div>
          <div class="mb-4 relative">
            <label
              for="period"
              class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Periodo de facturación</label
            >
            <div class="flex space-x-4">
              <input
                type="text"
                id="inicio"
                disabled
                value="{{
                  formatStringDate(
                    this.invoice?.data?.periodo_facturacion?.inicio
                  )
                }}"
                class="bg-gray-200 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              />
              <h5 class="text-center pt-2 text-sm">al</h5>
              <input
                type="text"
                id="fin"
                disabled
                value="{{
                  formatStringDate(this.invoice?.data?.periodo_facturacion?.fin)
                }}"
                class="bg-gray-200 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              />
            </div>
          </div>
          <div class="mb-4 relative">
            <label
              for="dias"
              class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Días medidos</label
            >
            <input
              type="text"
              id="dias"
              disabled
              value="{{ this.invoice?.data?.periodo_facturacion?.dias }}"
              class="bg-gray-200 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            />
          </div>
          <div class="mb-4 relative">
            <label
              for="consumo_total"
              class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Consumo (kWh)</label
            >
            <input
              type="text"
              id="consumo_total"
              disabled
              value="{{ this.invoice?.data?.detalles_consumo?.consumo_total }}"
              class="bg-gray-200 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            />
          </div>
          <div class="mb-4 relative">
            <label
              for="total_a_pagar"
              class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Importe (€)</label
            >
            <input
              type="text"
              id="total_a_pagar"
              disabled
              value="{{ invoice?.data?.desglose_cargos?.total_a_pagar }}"
              class="bg-gray-200 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            />
          </div>
        </form>
      </div>
      <button
          id="button-compare-1"
          (click)="compareInvoice()"
          class="button-compare w-full mx-auto mt-4 text-white bg-blue-800 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Comparar
        </button>
        <button
          id="button-invoices"
          (click)="getImage()"
          class="button-invoices w-full mx-auto mt-2 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center"
        >
          Ver factura adjunta
        </button>
    </div>
  </ng-container>
  <ng-template #invoiceImage>
    <div class="h-full w-full bg-primary text-white">
      <div class="relative h-dvw w-sreen flex justify-center p-12">
        <img src="{{ this.invoice?.image_url }}" />
      </div>
    </div>
  </ng-template>
</div>
