.header {
    background-color: #0072ce;
    
}

.ray {
    top: -28%;
    right: -8%;  
    z-index: 1;      
    width: 40%;         
    
}

.icons {
    z-index: 2; 
}
/* Aplica el redondeo siempre */
.tab-button {
    flex: 1;
    padding: 1rem 0;
    font-weight: 600;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* Botón activo: solo cambia el fondo y el color */
  .tab-button.active {
    background-color: #f4f4f6;
    color: #0058a3;
  }
  
  