<div class="w-full">
  <app-invoice-header></app-invoice-header>

  <!-- Lista de mediciones -->
  <section class="bg-neutral-50 px-5 pt-5 pb-14">
    <h2 class="text-dark-text text-2xl font-semibold">Mediciones internas</h2>
    <form action="">
      <div class="relative w-full mt-4 mb-3">
        <div class="absolute inset-y-0 start-1 flex items-center ps-3 pointer-events-none">
          <img src="/assets/icons/searchIcon.svg" alt="icono de lupa">
        </div>
        <input type="text"
          class="bg-neutral-50 border !border-neutral-100 text-dark-text text-base placeholder:text-neutral-500 rounded block w-full ps-10 p-3"
          placeholder="Buscar período (mes/año)" required  (input)="onSearchChange($event)" />
      </div>
      @if(filteredMeasurements.length === 0 && searchQuery){
        <p class="text-neutral-700 text-sm mb-3">No se ha encontrado la factura que buscas, intenta nuevamente.</p>
      }
    </form>

    <section class="bg-white border border-neutral-100 rounded-lg p-4">

      <section class="flex items-center justify-between bg-neutral-100 rounded px-4 py-[10px] mb-3">
        <input id="measurement.id" type="checkbox" value="" [checked]="isAllChecked()" (change)="checkedAll()"
          class="w-4 h-4 !text-primary bg-white !border-neutral-200 rounded focus:ring-transparent focus:ring-0">
        <div class="flex items-center gap-2" (click)="showModal()">
          <img src="/assets/icons/download.svg" alt="icono para descargar">
          <p class="text-dark-text text-base font-medium">Descargar</p>
        </div>
      </section>
      <app-report-download></app-report-download>

      @for (measurement of paginatedItems; track $index) {
      <section class="flex items-center justify-between py-2 px-4 mb-[10px] rounded" [ngClass]="{
        'bg-primary-bg': measurement.checked
      }">
        <div class="flex items-center">
          <input [id]="measurement.id" type="checkbox" value="" [checked]="measurement.checked"
            (change)="toggleChecked(measurement)"
            class="w-4 h-4 !text-primary bg-white !border-neutral-200 rounded focus:ring-transparent focus:ring-0 me-2">
        </div>
        <div class="texts me-2">
          <h4 class="text-dark-text text-base font-medium">ID {{measurement.id}}</h4>
          <p class="text-gray-500 text-sm">{{measurement.measurement_start | date: 'dd/MM/YYYY'}}</p>
        </div>

        <div class="min-w-32 flex justify-center">
             <div [ngClass]="{
          'bg-neutral-50': measurement.comparison_status === 'Sin comparacion',
          'bg-success-50': measurement.comparison_status === 'Sin discrepancia',
          'bg-error-50': measurement.comparison_status === 'Con discrepancia'
        }" class="w-fit rounded py-[3px] px-[10px]">
          <p [ngClass]="{
            'text-neutral-900': measurement.comparison_status === 'Sin comparacion',
            'text-success-900': measurement.comparison_status === 'Sin discrepancia',
            'text-error-900': measurement.comparison_status === 'Con discrepancia'
          }" class="text-xs font-medium">{{measurement.comparison_status}}</p>
        </div>

        </div>

        <img class="rotate-180" src="/assets/icons/blackBackButton.svg" alt="flecha para ir a medición"
          (click)="goToDetail(measurement.id)">
      </section>
      }
    </section>

    <!-- Paginador -->
    <nav class="mt-3">
      <ul class="w-full h-12 flex items-center justify-between p-3 bg-white rounded-lg ">

        <!-- Botón Anterior -->
        <li>
          <a href="#" (click)="goToPage($event, currentPage - 1)"
            class="flex items-center justify-center gap-1 px-2 py-[6px] rounded hover:bg-neutral-100 text-neutral-500 text-[10px]"
            [ngClass]="{'hover:text-dark-text': isHoverPrevious}" (mouseenter)="isHoverPrevious = true"
            (mouseleave)="isHoverPrevious = false">

            <img [src]="isHoverPrevious ? '/assets/icons/arrowLeftBlack.svg' : '/assets/icons/arrowLeftGray.svg'"
              alt="flecha anterior">
            Anterior
          </a>
        </li>

        @for (page of pageNumbers; track $index) {
        <li>
          <a href="#" (click)="goToPage($event, page)"
            class="w-6 h-6 rounded flex items-center justify-center text-base text-neutral-500"
            [ngClass]="{'bg-primary text-white': currentPage === page}">
            {{ page }}
          </a>
        </li>
        }

        <!-- Botón Siguiente -->
        <li>
          <a href="#" (click)="goToPage($event, currentPage + 1)"
            class="flex items-center justify-center gap-1 px-2 py-[6px] rounded hover:bg-neutral-100 text-neutral-500 text-[10px]"
            [ngClass]="{'hover:text-dark-text': isHoverPrevious}" (mouseenter)="isHoverPrevious = true"
            (mouseleave)="isHoverPrevious = false">
            Siguiente
            <img [src]="isHoverPrevious ? '/assets/icons/arrowRightBlack.svg' : '/assets/icons/arrowRightGray.svg'"
              alt="flecha siguiente">
          </a>
        </li>
      </ul>
    </nav>
  </section>
</div>
