<div class="background container-fluid">

    <!-- Logo de la compañía -->
    <img 
        src="assets/images/VoltixLoginAzul.svg"
        alt="Company logo" 
        class="logo" 
    />

    <!-- Sección de botones -->
    <section 
        class="button-section">

        <!-- Botón de inicio de sesión -->
        <button 
            class="btn-login" 
            routerLink="/login">
            Iniciar sesión
        </button>

        <!-- Botón de registro -->
        <button 
            class="btn-register"
            routerLink="/register">
            Registrarse
        </button>

    </section>

</div>
