.background {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  height: 100vh; 
  background-color: #0072CE; 
  position: relative; 
}

.background-image {
  position: absolute; 
  bottom: 80%; 
  right: 0%; 
  z-index: 1; 
  max-width: 35%; 
  width: auto; 
  height: auto; 
  min-width: 100px;
}

.header-section {
  margin-top: 3rem; 
  margin-bottom: 1rem;
  width: 100%;
  color: white; 
  position: relative; 
  z-index: 2; 
}

.user-avatar {
  position: relative; 
}

.dropdown-menu {
  min-width: 16rem;
  max-width: 100%; 
  z-index: 50;
  position: absolute; 
  top: 100%; 
  right: 0;
  background-color: #0158A3;
  border: 1px solid #0158A3; 
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: none; 
}

.dropdown-menu.show {
  display: block; 
}

@media (max-width: 640px) {
  .dropdown-menu {
    left: 0;
    right: auto; 
  }
}
.body-section {
  z-index: 1;  
  flex: 1; 
  background-color: #F4F4F6;
  height: 100%;
  overflow-y: auto; 
  padding-bottom: 4rem;
}
.header-section {
  margin-top: 3rem; 
  width: 100%;
  color: white; 
  position: relative; 
  z-index: 2;   
}

.consumo-actual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
}

.containerConsumo {
  border-radius: 10px;
  background-color: white;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}

.section {
  padding: 1rem;
  background-color: #F4F4F6;
}

.user-container {
  position: relative;
}

.user-avatar {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: end;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #D1D5DB; 
  margin-bottom: 0.25rem;
  cursor: pointer;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dropdown {
  position: absolute;
  right: 0;
  margin-top: 0.5rem;
  width: 40vh;
  background-color: #0072CE;
  border: 1px solid #F3F4F6; 
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.1);
  z-index: 50;
}

.dropdown-item {
  display: flex; 
  align-items: center; 
  padding: 0.8rem;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #0158A3;
}

.icon {
  width: 20px;  
  height: 20px; 
  margin-right: 0.5rem;
}

.consumo-mes {
  margin-left: auto;
}

.botones {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: white;
  width: 49%;
  height: auto;
  color: #0158A3;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}

.dropdown-item {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  padding: 0.8rem;
  cursor: pointer;
}

.chevronRight {
  margin-left: auto; 
  margin-right: 15px;
  width: 20px; 
  height: 20px; 
}

.closeX {
  margin-left: auto; 
}

.containerGraphic {
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.btn-upload {
  background-color: #0158A3;
  color: white;
  width: auto;
  padding: 15px;
  float: right;
}

.btn-upload:hover {
  background-color: #013d70;
  color: white;

}

.swiper-container {
  position: relative;
  width: 100%;
  overflow: hidden; /* Para evitar que los elementos fuera del contenedor sean visibles */
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
  transition: transform 0.3s ease-in-out; /* Para que el desplazamiento sea suave */
  width: 100%; /* Ajusta al ancho del contenedor */
}

.swiper-slide {
  flex: 0 0 100%; /* Cada slide ocupa el 100% del ancho del contenedor */
  max-width: 100%;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  border-radius: 10px;
  background-color: white;
  padding: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.swiper-pagination {
  display: flex; 
  justify-content: center;
  margin-top: 10px; 
}

.swiper-pagination-bullet {
  background: #0158A3; 
  opacity: 0.5;  
  margin: 0 4px; 
  width: 10px; 
  height: 10px;
  border-radius: 50%; 
}

.swiper-pagination-bullet-active {
  opacity: 1; 
}
