
<!-- 
<h1 class="text-3xl text-primary font-bold underline">
  Hello world!
</h1>

<h1 class="text-3xl text-primary-hover font-bold underline">
  Hello world!
</h1>

<h1 class="text-3xl text-primary-focus font-bold underline">
  Hello world!
</h1>

<h1 class="text-3xl text-secondary font-bold underline">
  Hello world!
</h1>

<h1 class="text-3xl text-error font-bold underline">
  Hello world!
</h1>

<h1 class="text-3xl text-success font-bold underline">
  Hello world!
</h1>

<h1 class="text-3xl text-dark-text font-bold underline">
  Hello world!
</h1>
 -->


<router-outlet />
