.background {
    display: flex;
    flex-direction: column; 
    position: relative;
    overflow: hidden;
    margin: auto; 
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    background: linear-gradient(182deg, #0158A3 1.27%, #badaf5 28.26%, #FFF 47.35%);
}

/* imagen */
.logo {
    object-fit: contain;
    align-self: center;
    margin-top: 24rem; 
    width: 500px;
    aspect-ratio: 3.97;
}

/* botones */
.button-section {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    padding: 1.25rem; 
    margin-top: 14rem; 
    width: 100%;
    font-size: 2.5rem;
    font-weight: 500; 
    text-align: center;
    margin-top: auto;
}

/* iniciar sesión */
.btn-login {
    display: flex;
    gap: 0.625rem; 
    align-self: stretch;
    padding: 0.875rem 1.75rem; 
    width: 100%;
    color: white;
    background-color: #0158A3; 
    border-radius: 0.5rem;
    min-height: 52px;
    justify-content: center; 
    align-items: center; 
}

.btn-login:hover {
    background-color: #013d70; 
}

/* registrarse */
.btn-register {
    display: flex;
    gap: 0.625rem; 
    align-self: stretch;
    padding: 0.875rem 1.75rem; 
    margin-top: 0.5rem; 
    width: 100%;
    color: #0158A3; 
    white-space: nowrap; 
    background-color: white; 
    border-radius: 0.5rem; 
    border: 1px solid #0158A3; 
    min-height: 52px;
    justify-content: center; 
    align-items: center; 
}
@media (max-width: 375px) {
    .logo {
        width: 100px;
        margin-top: 8rem;
    }
    .button-section {
        font-size: 1rem; 
    }
    
}

@media (max-width: 480px) {
    .logo {
        width: 250px;
        margin-top: 24rem;
    }
    .button-section {
        font-size: 1rem; 
    }
    
}
@media (max-width: 768px) {
    .logo {
        width: 250px;
        margin-top: 22rem;
    }
    .button-section {
        font-size: 1rem; 
    }
}
