<div class="relative mb-4">
  <label [for]="name" class="block mb-[10px] text-base font-medium text-black">{{label}}</label>
  <input [type]="inputType" [id]="name" [name]="name" [placeholder]="placeholder" (input)="updateValue($event)"
    class="w-full bg-white border border-[#c7cbd1] text-dark-text text-base rounded-lg block ps-5 py-3 pe-4 focus:outline-none focus:ring-0 focus:border-[#c7cbd1]"
 >
  <button type="button" class="absolute right-4 bottom-4" (click)="toggleVisibility()">
    <img [ngClass]="{ 'hidden': isPasswordVisible }" src="/assets/icons/eye-alt.svg" alt="icono ojo abierto">
    <img [ngClass]="{ 'hidden': !isPasswordVisible }" src="/assets/icons/eye-slash.svg" alt="icono ojo tachado">
  </button>
</div>
