.header {
    display: flex;
    width: 100%;
    height: 150px;
    background-color:#0072CE;
    flex-direction: column;
    justify-content:space-between;
}
.navbar{
    display: flex;
    width: 95%;
    height: 50px;
    background-color:#0072CE;
    justify-content: space-between;
    align-self: center;
    margin-top: 15px;
}
.select {
    display: flex;
    width: 100%;
    height: 50px;
    background-color:#0072CE;
    justify-content: space-around;
    align-self: flex-end;
}
.button{
    width: 40%;
    height: 50px;
    background-color:#F3F4F6;
    color: #0058a3;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
}
.button.factura { 
    background-color: #005baa;
    color: white;
}
.avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}