
:host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.back{
  align-self: flex-start; 
}
.profile-header{
    width: 100%;
    height: 204px;
}
.sub-header{
    display: flex;
      background-color: #0072CE;
      height: 223px;
      width: 100%;
}
.logo{
    position: relative;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 144px;
    height: 44px;
}
.sub-header-gris{
    background-color: #f4f4f6;
    width: 100%;
}
.avatar{
    position:absolute;
    min-width: 128px;
    height: 128px;
    border: white 3px groove;
    border-radius:100%;
    top: -80px;
    left: -80px;
    object-fit: contain;
}
.modificar-pics{
    position:absolute;
    width: 44px;
    height: 44px;
    top: 246px;
    left: 106px;

}
.rayoAzul{
    position:absolute;
    top: -13px;
    right: 0px;
}
.info {
    background-color: #f4f4f6;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    padding: 28px 14px 28px 14px;
    width: 100%;
    gap:16px;
}
.title{
    font-size: 16px;
    font-weight: 600;
    color: #111928;
}
.button {
    background-color: #f4f4f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 28px 14px 28px 14px;
    gap: 28px;
    border:10px;
}
.editarDatos{
    width: 100%;
    height: 52px;
    border-radius: 8px;
    background-color: #0072CE;
    color: #ffffff;
    transition: background-color 0.3s, transform 0.3s;
}
.editar:hover {
    background-color: #005bb5;
}

.editar:active {
    transform: scale(0.95); 
}
.cerrar{
    width: 100%;
    height: 52px;
    border-radius: 8px;
    background-color: #ffffff;
    color: #0072CE;
    transition: background-color 0.3s, transform 0.3s;
}
.cerrar:hover {
    background-color: #d9e6ff;
}

.cerrar:active {
    transform: scale(0.95); 
}

