<div class="profile-header">
    <div class="sub-header">
         <button class="back"><img src="assets/back-button.svg" alt="back button" (click)="goBack()"></button>
         <img class="logo" src="/assets/images/VoltixLoginBlanco.svg" alt="" width="144" height="44">
         <img class="rayoAzul" src="assets/images/rayo-cortado.svg" alt="boh" width="180" height="239">
    </div>
    
<div *ngIf="profileInputs">
    <div class="sub-header-gris">
    <img class="avatar" src="{{this.userTest.photo}}" alt="Avatar" height="128" width="128">
    <button class="modificar-pics" (click)="editPhoto">
        <div class="place-self-center">
                  <label for="photo" class="relative cursor-pointer rounded-md font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
                    <img src="assets/icons/pics.svg" alt="">
                  </label>
                  <input id="photo" type="file" #input1 class="sr-only">
                  <p class="pl-1"></p>                
          </div>
    </button>
    </div>
    


    <div class="info">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <div class="mb-6">
                <label for="fullname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre y Apellido</label>
                <input  formControlName='fullname' placeholder={{this.userTest.fullname}} type="text" id="fullname" #input1 class="bg-gray-200 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            <div class="mb-6">
                <label for="dni" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">DNI/NIF/NIE</label>
                <input  formControlName='dni' placeholder={{this.userTest.dni}} type="text" id="dni" #input2 class="bg-gray-200 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            <div class="mb-6">
                <label for="phoneNumber" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Número de Teléfono</label>
                <input  formControlName='phoneNumber' placeholder={{this.userTest.phoneNumber}} type="text" id="phoneNumber" #input3 class="bg-gray-200 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            <div class="mb-6">
                <label for="address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Dirección</label>
                <input  formControlName='address' placeholder={{this.userTest.address}} type="text" id="address" #input4 class="bg-gray-200 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            <div class="mb-6">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Mail</label>
                <input  formControlName='email' placeholder={{this.userTest.email}} type="text" id="email" #input5 class="bg-gray-200 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                [ngClass]="{
                    'border-red-500': email?.invalid,
                    'border-green-500': profileForm.get('email')?.dirty && email?.valid,
                }" >
                <div *ngIf="email?.touched && email?.invalid" class="text-red-500 text-xs mt-2">
                    <p *ngIf="email?.errors?.['pattern']">Email en formato inválido.</p>
                </div>    
            </div>
                <div class="mb-6">
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                <input  formControlName='password' placeholder='*********' type="password" id="password" #input6 class="bg-gray-200 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <button class="justify-end" (click) ="changepassword()"><img src="assets/back-button.svg" alt="change password"></button>
                
            </div>

            <div class="button"> 
                <button type="button" *ngIf="edit" class="editarDatos" (click)="enable('fullname', 'dni', 'phoneNumber', 'address', 'email', 'password')">Editar perfil</button>
                <button *ngIf="save" class="editarDatos" (click)="disable('fullname', 'dni', 'phoneNumber', 'address', 'email', 'password')"
                (click) = "editUser ('fullname', 'dni', 'phoneNumber', 'address', 'email')" >Guardar</button>
                <button class="cerrar" (click)="logout()">Cerrar Sesión</button>
            </div>
        </form>
    </div>
</div>

<!-- Página cambiar contraseña -->

<div *ngIf="newPasswordPage" class="max-w-sm mx-auto text-justify ">
    <h2 class="text-lg font-bold mb-6 mt-6">Nueva contraseña</h2>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        
        <div class="mb-6">
            <label for="currentPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña actual</label>
            <input  formControlName='currentPassword' type="text" id="currentPassword" name="currentPassword" #input6 class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            [ngClass]="{
                'border-red-500': passwordForm.get('currentPassword')?.touched, 
              }"
            required>
            <div>
                <span *ngIf="passwordForm.get('currentPassword')?.invalid && passwordForm.get('currentPassword')?.touched"
                class="text-red-500 text-sm mt-1">La contraseña actual es obligatoria.</span>
            </div>
              
        </div>
        <div class="mb-6">
            <label for="newPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nueva contraseña</label>
            <input  formControlName='newPassword' type="text" id="newPassword" #input6 class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            [ngClass]="{
                'border-gray-300': !passwordForm.get('newPassword')?.invalid || !passwordForm.get('newPassword')?.touched,
                'border-red-500': passwordForm.get('newPassword')?.errors && passwordForm.get('newPassword')?.touched
              }" >
            <p *ngIf="passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched"
              class="text-red-500 text-sm mt-1"></p>
            
            <div class="flex flex-col mt-2 text-xs text-gray-600 dark:text-gray-400">
                <span *ngIf="passwordForm.get('newPassword')?.errors?.['required'] && passwordForm.get('newPassword')?.touched" class="flex flex-col mt-2 text-xs text-red-500">
                    Por favor, introduce una nueva contraseña.
                </span>
                <span>
                    <i [ngClass]="(passwordForm.get('newPassword')?.errors?.['minlength'] || !passwordForm.get('newPassword')?.touched)? 'fa-regular fa-circle-xmark text-red-500' : 'fa-regular fa-circle-check text-green-500'"></i>
                    Mínimo 8 caracteres.
                </span> 
                <span>
                    <i [ngClass]="(passwordForm.get('newPassword')?.errors?.['maxlength'] || !passwordForm.get('newPassword')?.touched)? 'fa-regular fa-circle-xmark text-red-500' : 'fa-regular fa-circle-check text-green-500'"></i>
                    Máximo 15 caracteres.
                </span>
                <span>
                    
                </span>
            </div> 
            
        </div>
        <div class="mb-6">
            <label for="confirmPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Repetir nueva contraseña</label>
            <input formControlName='confirmPassword' type="text" id="confirmPassword" #input6 class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
             >
        </div>
        <div class="flex flex space-x-28">
            <button type="submit"
            class="editarDatos">Aceptar</button>  
          </div>
    </form>
    


</div>
    



    