<header class="h-auto flex items-center justify-between bg-[#0072CE] relative overflow-hidden p-4">
  <div class="w-36 absolute right-0 z-0">
    <img src="assets/images/rayoAzulLogin.svg" alt="Decoración en forma de rayo azul">
  </div>
  <button class="w-6 h-6 rotate-180" aria-label="Volver al inicio de sesión" (click)="goToLogin()">
    <img src="/assets/icons/chevron-right.svg" alt="Icono de flecha hacia atrás">
  </button>
  <img src="assets/images/VoltixLoginBlanco.svg" class="w-32 z-10" alt="Logo de Voltix">
  <div class="w-11 h-11"></div>
</header>

@if(!showSuccessSection){
<section class="container flex flex-col pt-[50px] pb-[60px] px-5 relative">
  <h2 class="text-2xl text-dark-text font-semibold mb-5">
    Restablecer contraseña
  </h2>
  <p class="text-lg text-dark-text mb-5">
    Ingresa tu email para que enviemos un link y puedas restablecer la
    contraseña.
  </p>

  <form class="flex flex-col flex-grow" action="" [formGroup]="resetForm">
    <div>
      <label for="email" class="block mb-[10px] text-base font-medium text-black">Email</label>

      <input formControlName="email" type="email" id="email"
        class="w-full bg-white border text-dark-text text-base rounded-lg block px-5 py-3 focus:outline-none focus:ring-0 focus:border-input-border"
        placeholder="ejemplo@ejemplo.com" [ngClass]="{
          '!border-input-border': !email?.touched,
          '!border-success-700': email?.valid && email?.touched,
          '!border-error-700': email?.invalid && email?.touched
        }" />

      <!-- Mensaje de error si el email no es válido -->
      @if(email?.touched && email?.invalid){
      <div class="text-error-700 text-sm mt-1">
        @if(email?.hasError('required')){
        <p>El email es obligatorio.</p>
        } @if(email?.hasError('email')){
        <p>Email en formato inválido</p>
        }
      </div>
      }
    </div>

    <button class="w-full max-w-96 text-base font-medium rounded-lg py-[14px] px-7 absolute bottom-24" [disabled]="!isFormValid" [ngClass]="{
        '!bg-primary !hover:bg-primary-hover !focus:bg-primary-focus text-white':
          isFormValid,
        '!text-[#8e95a2] !bg-[#e8e8ed] !hover:bg-[#e8e8ed] !focus:bg-[#e8e8ed] cursor-not-allowed':
        !isFormValid,
      }"
      (click)="onSubmit()">
      Enviar
    </button>
  </form>

</section>

} @else {
<!-- Email enviado -->
<section class="container flex flex-col items-center flex-grow pt-[86px] pb-[60px] px-5 relative">
  <img class="mb-12" src="/assets/images/forgotPasswordSuccess.svg" alt="restablecer contraseña">
  <p class="text-dark-text text-lg font-medium text-center">Te enviamos un email a tu cuenta con las instrucciones
    para restablecer la contraseña.</p>

  <button class="w-full max-w-96 text-base font-medium bg-primary hover:bg-primary-hover focus:bg-primary-focus text-white rounded-lg py-[14px] px-7 absolute bottom-24"
    (click)="onSubmit()">
   Continuar
  </button>
</section>
}
